<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/logo.webp" alt="Logo" width="50" class="d-inline-block align-text-top">
        Academic Tracker
      </a>
      <div>

        <form action="/course"><button>Courses</button></form>
        <form action="/test"><button>Progress Card</button></form>
      </div>
      <div>
        <form action="/target"><button>Deadlines</button></form>
        <form action="/attendance"><button>Attendence</button></form>

      </div>
      <div>
        <form action="/expense"><button>Expenses</button></form>
      </div>
      
      <%if(currUser && currUser.length!=0){%>

        <div>
          <img src="/<%=currUser.photo%>" alt="Logo" width="40">
          <%if(currUser.username){%>
             <%=currUser.username%>
          <%} else{%>
            <%=currUser.name%>
          <%}%>
          
        </div>
      <%}%>
    </div>
  </nav>