<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/logo.webp" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Academic Tracker
      </a>
    </div>
  </nav>